#Project specific
*/pusher.js
**/config.js

#laravel & vue
/node_modules
/public/hot
/public/css
/public/js
/public/storage
/public/assets
/public/cache
/public/favicon.ico
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
*.sql
/config/pusher.php
/resources/js/web-app/config/pusher.js
