.admin-container {
    max-width: 1200px;
    margin: auto;
    padding: 16px 32px;
}
.messages-container {
    max-width: 1200px;
    margin: auto;
    padding: 16px 0;
}

.restaurants {
    padding: 16px 0;
    .restaurant {
        padding: 8px 0;
    }
}

.btn-naked {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: red;
}

.ingredient-label {
    margin: 0;
    line-height: 0.7;
}

