
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//page
@import  'admin';
@import 'landing';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    padding-top: 0 !important;
    height: 100vh;
}

.form-container {
    max-width: 800px;
    margin: auto;
    padding-top: 16px;
}
