@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400');

.landing-container {

	font-family: 'Open Sans', sans-serif;

	a {
		text-decoration: none;
	}

    .tag {
        font-family: 'Open Sans', sans-serif;
        font-size: 44px;
        text-align: center;
        font-weight: 100;
        width: 80%;
		margin: 64px auto;

        .sub-tag {
            font-size: 22px;
            margin: 0 128px;
        }
    }

	.action-container {
		text-align: center;
		width: 300px;
		margin: 32px auto;

		button {
			font-size: 200%;
		}
	}


	.showoff {

		padding: 32px 0;

		.item {
			display: grid;
			grid-template-columns: repeat(2,1fr);
			column-gap: 40px;
			height: 100%;
			width: 70%;
			max-width: 1000px;
			margin: auto;
			align-items: center;

			.img-container {
				background-color: white;
				border: 2px solid black;
			}
			img {
				width: 100%;
			}

			.explanation {
				color: white;
				font-size: 130%;
				.explanation-title {
					margin-bottom: 8px;
					font-size: 200%;
				}

			}
		}

	}
}


